body{
    overflow-y: hidden;
}
.container{
    display: flex;
    height: 95vh;
    width: 100%;
    border: 3px solid #EAEDED;
    justify-content: space-between;
}
.gauche{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    width: 30%;
    background-color: #EAEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn button{
    width: 50px;
    margin: 1%;
}
.droite{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paragraph{
    
}